body{
	background-color: #eceeef;
	font-size: 16px;
	font:#666;
	padding: 0;
	margin:0;
	font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial;
}
nav{
	width: 100%;
	height:60px;
	background-color: #fff;
	padding: 0;
}
nav img{
	padding:10px;
}
h2{
	padding-left:20px;
}
h4{
	padding-left:20px;
}
.wrapper{
	width: 770px;
	background-color: #fff;
	position: relative;
	padding: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.container{
	width: 720px;
	padding: 10px;
	border: 1px solid rgba(0,0,0,.125);
	margin-left: auto;
	margin-right: auto;
}
.module{
	height: 40px;
	padding: 10px;
	margin-bottom: 15px;
}
.module-title{
	width:470px; 
	float:left;
	padding-left:10px;
	color:#666;
}
.select{
	width: 190px;
	float: right;
}
.disclaimer{
	padding:20px;
}
.btn{	
	width: 200px;
	cursor: pointer;
}
.completed{
	cursor:default !important;
}
.jumbotron {
    padding: 2rem 2rem;
}
.jumbotron-lower{
	background-color: #f7f8f9;
}
.mb-4, .my-4 {
    margin-bottom: 0.5rem !important;
}
p {
    margin-top: 0;
    margin-bottom: 0rem;
}