<div id="infoarea-view-{{uniqid}}" data-region="infoarea-view">
    
{{#hascourses}}
    <div class="tab-content m-t-3">
        <div class="tab-pane active fade in" id="myoverview_courses_view_in_progress">
            {{#inprogress}}
                {{< block_myoverview/courses-view-by-status }}
                    {{$id}}infoareas-view-in-progress{{/id}}
                    {{$status}}1{{/status}}
                    {{$pagingbarid}}infoarea-pb-for-in-progress{{/pagingbarid}}
                    {{$pagingcontentid}}infoarea-pc-for-in-progress{{/pagingcontentid}}
                {{/ block_myoverview/courses-view-by-status }}
            {{/inprogress}}
            {{^inprogress}}
                <div class="text-xs-center text-center m-t-3">
                    <img class="empty-placeholder-image-lg"
                         src="{{urls.nocourses}}"
                         alt="{{#str}} nocoursesinprogress, block_myoverview {{/str}}"
                         role="presentation">
                    <p class="text-muted m-t-1">{{#str}} nocoursesinprogress, block_myoverview {{/str}}</p>
                </div>
            {{/inprogress}}
        </div>
    </div>
{{/hascourses}}
{{^hascourses}}
    <div class="text-xs-center text-center m-t-3">
        <img class="empty-placeholder-image-lg"
             src="{{urls.nocourses}}"
             alt="{{#str}} nocourses, block_myoverview {{/str}}"
             role="presentation">
        <p class="text-muted m-t-1">{{#str}} nocourses, block_myoverview {{/str}}</p>
    </div>
{{/hascourses}}    
</div>
{{#js}}
require(['jquery', 'core/custom_interaction_events'], function($, customEvents) {
    var root = $('#infoarea-view-{{uniqid}}');
    customEvents.define(root, [customEvents.events.activate]);
    root.on(customEvents.events.activate, '[data-toggle="btns"] > .btn', function() {
        root.find('.btn.active').removeClass('active');
    });
});
{{/js}}
