/**
* WIT theme customizations
**/

/**
 * Misc CSS changes
 */

/** Change link to lighter colour */
.site-name {display:none !important;}

/** Hide  */
a[href="#myoverview_courses_view_future"] {display:none;}

/** Change link to lighter colour */
a {
    color: #00acdf;
}


/** move customise this page button to top */
.customise-this-page {
    position: absolute;
    right: 15px;
    top: 15px;
}


/**
* Login page
**/

.pagelayout-login .card-title h2 img {
    max-width: 100%;
    max-height: 100px;
}

#page-wrapper {
    background-color: #f4f4f4;
}

/**login page remove page background **/
.login-page-wrapper {
    background-color:transparent !important;
}

#nav-drawer {
    background-color: #eceeef;
}

.pagelayout-login #region-main {
    border: 0;
    background-color: inherit;
}

.login-card-block {
    padding:0;
}

.login__container .card {
	border: none;
}

#login__banner {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.95);
}

#login__banner-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    max-width: 300px;
}

#login__avatar-container {
    width: 100%;
}

#login__avatar-container img {
    border-radius: 50%;
    border: #fff 10px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    width: 100px;
}

#login__moodle-logo {
    width: 100%;
    height: 120px;
    border-bottom: thin #dedede solid;
}

.login__container {
	width: 350px;
    background: #fff;
    padding: 10px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#login__support-container {
    display: block;
    margin: auto;
    width: 255px;
    padding-bottom: 10px;
}

.login__support {
    display: inline-block;
    height: 120px;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: 120px;
}

.login__support img {
    width: 90px;
}

.login__support-text {
    bottom: 10px;
    display: block;
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
    width: 93px;
    color: #666;
}


/**
 * Course Header Image
 */

#course-header {
    float: left;
    padding-top:10px;
    padding-left:10px;
}

#course-header img {
    height: 70px;
    padding-right: 20px;
}

.pull-xs-left{
    padding: 10px;
}

.context-header-settings-menu, .region-main-settings-menu {
    margin-top: 15px;
    margin-right: 20px;
}


/**
 * Panels
 */

.panel {
    border: #ddd 1px solid;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-bottom-color: transparent;
    border-top-right-radius: -1px;
    border-top-left-radius: -1px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.panel-body {
    padding: 15px;
}

.panel-body h4{
    font-weight: 300;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.panel-warning {
    border-color: #fbeed5;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-info {
    border-color: #e2e2e2;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-warning > .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.panel-success > .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-info > .panel-heading {
    color: #00acdf;
    background-color: #f4f4f4;
    border-color: #e2e2e2;
}

.panel-danger > .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.text-center {
    text-align: center;
}

.thumbnail {
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

.thumbnail > img, .thumbnail a > img {
    margin-left: auto;
    margin-right: auto;
}

.thumbnail > img, .thumbnail a > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #0085ac;
    border-color: #007da2;
}

.btn-secondary:focus, .btn-default:focus, .btn-secondary.focus, .btn-default.focus {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.caption h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.caption h4 {
    font-size: 1.5rem;
    margin-top: 10px;
}
.contentwithoutlink{
    padding-right: 32px;
    display: block;
    height: inherit;
}

.col-md-4 {
    float: left;
    width: 33.33333%;
}

.col-md-6 {
    float: left;
    width: 50%;
}

.col-sm-4 {
    float: left;
    width: 33%;
}

.col-sm-6 {
    float: left;
    width: 50%;
}

.collapse.in {
    display: block;
}

.img-circle {
    border-radius: 50%;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: .3rem;
}

.btn, #page-grade-grading-manage .actions .action, #rubric-rubric.gradingform_rubric #rubric-criteria .criterion .addlevel input, #rubric-rubric.gradingform_rubric .addcriterion {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de !important;
    border-color: #5bc0de !important;
}

.btn-success {
    color: #fff;
    background-color: #77b300;
    border-color: #77b300;
}
.btn-warning {
    color: #fff;
    background-color: #f80;
    border-color: #f80;
}
.btn-danger {
    color: #fff;
    background-color: #ff4136;
    border-color: #ff4136;
}


/**
 * Course Page - Nav Guides Previous/Next font Size
 */

.section__footer .nav_guide {
    font-size:1.15rem;
}

.section__footer .text {
    font-size:1.4rem;
}


/**
 * Set tag colour to purple from default blue/green
 */

.tag, .statusok, .statuswarning, .statusserious, .statuscritical, .assignfeedback_editpdf_widget .label, .label, .badge {
    background-color: #ad53b2;
    display: inline-block;
    padding: .3em .4em;
    font-size: 70%;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}


/**
 * Pagination
 */

.pagination {
    align-items: center;
    justify-content: center;
}


/**
* Global navigation drawer
**/

// custom style to indicate nav items marked as hidden
.list-group-item-hidden, .list-group-item-hidden:hover {
    color: $gray-light;
    text-decoration: line-through;

    .icon {
      color: $gray-light;
    }
}

.label-default {
    background-color: #777;
}

.label-primary {
    background-color: #337ab7;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label-warning {
    background-color: #f0ad4e;
}

.label-danger {
    background-color: #d9534f;
}

.card-body .text-white{
    color:#fff !important;
}

/**
 * Fix for File Manager Choose License Dropdown
 */

.filemanager .custom-select{
    width:100%;
}

