{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/login

    Login page template

    Example context (json):
    {
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Login page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headers keep HTML validators happy</h1>"
        }
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>
<div id="page-wrapper" class="login-page-wrapper">
    {{{ output.standard_top_of_body_html }}}
    
    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12">
                    <div id="login__banner">
                        <a href="http://www.wit.ie" target="_blank"><img id="login__banner-logo" src="/theme/wit/pix/login/wit_logo.png"></a>
                    </div>
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.course_content_footer }}}
                </section>
            </div>
        </div>
    </div>
</div>
{{{ output.standard_end_of_body_html }}}
</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['jquery'], function($) {
    // hide the avatar
    $("#login__avatar-container").hide(); 
    $("#login__moodle-logo").css("height","70px"); 
    $(".login__container").css("margin-top","130px");  

    //remove page padding for login page
    $("#page").css("padding-left","0")
    $("#page").css("padding-right","0")

    //only display the cookies message if cookies are disabled
    if (navigator.cookieEnabled) { 
         $("#cookiesenabled").hide();
    }
    $("#login").submit(function(event) {
        // Remove error if already exists
        if ($('#username-error').length){
            $('#username-error').remove();
        }
        //get username input content
        var username = $("#username").val();

        //create RegExp for student number with W eg. W20082018
        var regex = new RegExp(/^[a-z]{1}[0-9]{8}$/i);

        //If username contains @ symbol display error and prevent login submit
        if( username.indexOf('@') != -1 ){
            console.log($("#username").val());
            $('#username').after("<div id='username-error' style='background: red; font-size: 80%; color: white; padding: 5px; margin-top: 10px;'>Please use your Staff ID, not your email address</div>");
            event.preventDefault();
        } 

        //If student ID contains W display error and prevent login submit
        if(regex.test(username) == true){
            console.log(regex.test(username));
            $('#username').after("<div id='username-error' style='background: red; font-size: 80%; color: white; padding: 5px; margin-top: 10px;'>Please enter your student number without the W</div>");
            event.preventDefault();
        } 
    });

//Add login page background image
    if ($("#page-login-index").length){
        var URLbase = "/theme/wit/pix/login/";

        //define total number of day and night images
        var nightTotal = 4;
        var dayTotal = 9;

        // pick a random day or night image
        var randDay = Math.floor(Math.random()*dayTotal) + 1;
        var randNight = Math.floor(Math.random()*nightTotal) + 1;
        var dayImage = "day-"+randDay;
        var nightImage = "night-"+randNight;

        // set image size and file extension
        var xs = "-xs.jpg";
        var sm= "-sm.jpg";
        var lg = "-lg.jpg";
        var imageURL = "";

        //get time of day ans build image URL for different screen sizes
        var today = new Date().getHours();
        if (today >= 6 && today <= 20) {
           imageURL = URLbase+dayImage; 
        } else {
            imageURL = URLbase+nightImage; 
        }
        if ($(window).width() < 468){
            imageURL=imageURL+"-xs.jpg";
        }
        else if($(window).width() > 468 && $(window).width() < 768){
            imageURL=imageURL+"-sm.jpg";
        }
        else{
            imageURL=imageURL+"-lg.jpg";
        }
        // set background images and css properties
        $("body").css("background-image", "url("+imageURL+")");
        $("body").css("background-repeat", "no-repeat");
        $("body").css("background-position", "center center");
    }
});


{{/js}}
