
#page{
	padding:0;
}

.pagelayout-login .card-title h2 img {
    max-width: 100%;
    max-height: 100px;
}

.pagelayout-login #region-main {
    border: 0;
    background-color: inherit;
}

.login-card-block{
	padding:0;
}

.login__container .card{
	border:none;
}

#login__banner{
	width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,0.95);
}

#login__banner-logo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    max-width: 300px;
}

#login__avatar-container {
    width: 100%;
}

#login__avatar-container img {
    border-radius: 50%;
    border: #fff 10px solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    width: 100px;
}

#login__moodle-logo {
    width: 100%;
    height: 140px;
    border-bottom: thin #dedede solid;
}

.login__container{
	width: 350px;
    background: #fff;
    padding: 10px;
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#login__support-container {
    display: block;
    margin: auto;
    width: 255px;
    padding-bottom: 10px;
}

.login__support {
    display: inline-block;
    height: 120px;
    padding: 15px;
    position: relative;
    text-decoration: none;
    width: 120px;
}

.login__support img {
    width: 90px;
}

.login__support-text {
    bottom: 10px;
    display: block;
    font-size: 12px;
    margin-top: 12px;
    text-align: center;
    width: 93px;
    color: #666;
}
